*{
	padding:0;
	margin: 0;
}

.titre{
	background-color: #5ea2c4;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1{
	padding: 2%;
	color: white;
	font-size: 40px;
}

h2{
	padding-left: 2%;
}

p{
	padding-left: 2%;
	text-indent: 40px;
	text-align: justify;
	margin-right: 2%;
}

.liste{
	padding-left: 6%;
	list-style-type: square;
}

p , li {
	font-size: 18px;
}

.cgu{
	margin-bottom: 370px;
}