*{
	padding: 0;
	margin: 0;
}


footer {
	background-color: #3a738f;
	flex-shrink: 0;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 10px;
}

.contenu-footer {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-size: 20px;
}

.bloc {
	width: 33%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.logo {
	width: 150px;
}

.coor {
	padding-top: 30px;
	text-align: left;
}

.coor li {
	margin-bottom: 15px;
	list-style: none;
}

.coor li a {
	text-decoration: none;
	text-transform: none;
	color: white;
}

.res {
	text-align: center;
}
.res h4 {
	color: white;
	text-decoration: underline white 2px;
	margin-bottom: 20px;
}

.facebook {
	width: 30px;
}
.google {
	width: 40px;
}
.linkedin {
	width: 40px;
}

.liens {
	margin-top: 40px;
	text-align: center;
}

.liens li {
	margin-bottom: 25px;
	list-style: none;
	display: inline-block;
	margin-left: 15px;
}

.liens li a {
	text-decoration: none;
	text-transform: none;
	color: white;
}

.liens li a:hover {
	border-bottom: 1px solid #97a5aa;
	color: #97a5aa;
	transition: all 0.3s ease 0s;
}

#coyright {
	color: white;
	text-align: center;
	margin-top: 10px;
}


body, html{height:100%;}


