.home {
	height: 110vh;
	background-image: url("../images/planes/plane.png");
	background-size: cover;
	background-position: center;
	/*position: relative;*/
}

.box {
	text-align: center;
	padding-top: 7%;
	margin-top: 10px;
}

.form {
	margin: 0 auto;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	max-width: 100%;
	min-height: 470px;
	border-radius: 5px;
	background-color: white;
	width: 350px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.imageForm {
	margin-top: 0px;
	margin: center;
	background: transparent;
}

.img {
	margin-top: 10%;
	width: 120px;
	height: auto;
}

.contenu {
	margin-top: 0;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.textArea {
	margin: 1%;
}
.erreur {
	width: 200px;
	height: 20px;
	border-radius: 5px;
	outline: none;
	border: none;
	background-color: rgb(218, 153, 153);
	color: red;
	padding: 12px 15px;
	margin: 8px 0;
	text-align: start;
}
input {
	width: 200px;
	height: 30px;
	border-radius: 5px;
	outline: none;
	border: none;

	background-color: #eee;

	padding: 12px 15px;
	margin: 8px 0;
}

.button {
	background-color: rgb(94, 162, 196);
	border-radius: 20px;
	width: 150px;
	height: 35px;
	cursor: pointer;
	outline: none;
	border: none;
	color: white;
}

.button:hover {
	border: solid #565757;
}

@media all and (max-device-width: 480px){
    .home {
        height: 800px;
		margin-bottom: 0%;
    }
}
