.bande {
	background-color: #3a738f;
	height: 5%;
	overflow: auto;
}
header nav .nav-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.image {
	height: 20%;
	width: 20%;
}

.list a {
	margin-top: 100px;
	color: white;
}

.list {
	margin-top: 12px;
}

.home {
	height: 100vh;
	background-image: url("../images/planes/plane.png");
	background-size: cover;
	background-position: center;
	position: relative;
}

.coordonnees {
	text-align: center;
	color: white;
	background-color: #5ea2c4;
}

.bandebas {
	background-color: #5ea2c4;
	margin-bottom: 0px;
	overflow: hidden;
	text-align: center;
	color: white;
}

.numero {
	background-color: #5ea2c4;
	margin-bottom: 0%;
}

.imageForm {
	margin-top: 0px;
	margin: center;
	background: transparent;
}

.img {
	margin-top: 10%;
	width: 10%;
	height: 10%;
	margin-bottom: 2%;


}

.button {
	margin-top: 1%;
	background-color: #3a738f;
	border-radius: 10%;
	border-color: black;
	margin-bottom: 5%;
}
.box {
	text-align: center;
	padding-top: 7%;
}
.form {
	margin: 0 auto;
	border: grey solid 2px;
	border-radius: 5%;
	background-color: white;
	width: 40%;
	height: 40%;
}

.textArea {
	margin-bottom: 5%;
}

.button {
	color: white;
}
