@import url('http://fonts.cdnfonts.com/css/gemina-2-3d');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.wrapper{
    margin-top: 2%;
    padding: 0 10px;
    overflow: hidden;
    width: 100%;
}

.clear{
    clear: both;
}

/*    -----------------------------    BARRE DE NAVIGATION     ----------------------------------------          */

nav{
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    background-color: #3a738f;
}

nav .logo{
    float: left;
	width: 250px;
	display: flex;
	align-items: center;
	
}

nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav .links li {
	list-style: none;
}

nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}

.links li a:hover{
    color:#97a5aa;
    transition: all 0.3s ease 0s;
}

#nav-toggle {
	position: absolute;
	top: -100px;
}

nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}

nav .icon-burger .line {
	width: 20px;
	height: 3px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}

@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: none;
		margin-right: auto;
        margin-left: auto;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 50px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
    nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(8px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-8px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
}


/*----------------------------------bannière-------------------------------------------------------------------*/

#main-image{
    position: relative;
    display: block;
	width: 100%;
    height: 550px;
   /* background:url("../../images/accueil/vue.png") no-repeat;*/ 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#main-image h2{
    font-weight:bolder;
    text-transform: uppercase;
    text-align: center;
    padding: 200px 0 40px 0;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}

.button-1{
    width: 120px;
    height:50px;
    display: block;
    background: #3a738f;
    color: white;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
}

.button-1:hover{
    background: #5EA2C4;
}

.intro{
    width: 40%;
    float: left;
    margin-left: 5%;

}

/* ------------------------------------------PRESENTATION --------------------------------------------------*/

.textBienvenue{
    
    margin-bottom: 10%;
    width: 50%;
    margin-right: auto;
    margin-left: 2%;
    text-align: left;
    line-height:20px;
    color: dimgray;
    float: left;
}

#presentation h2{
    margin-bottom: 3%;
    margin-top: 7%;
    margin-left: 2%;
    color:#3a738f;
    text-align: left;
    margin-right: 60%;
    text-transform: uppercase;
    font-size: 40px;
    float: left;
}





#steps{
    background-color: #fff;
}

#imageDate{
    overflow: hidden;
    text-align: right;
    margin-right: 10%;
    margin-top: 2%;
}

#date{
    margin-right: 2%;
}








/* --------------------------FOOTER -------------------------------*/
footer{
   background-color: #3a738f;
    flex-shrink: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}

.contenu-footer{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    
}

.bloc{
    width: 33%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.logo{
    width: 150px;
}

.coor{
    padding-top: 30px;
    text-align: left;
}

.coor li {
    margin-bottom: 15px;
    list-style: none;
}

.coor li a{
    text-decoration: none;
    text-transform: none;
    color: white;
}

.res{
    text-align: center;
}
.res h4{
    color: white;
    text-decoration: underline white 2px;    
    margin-bottom: 20px;
}

.facebook{
    width: 30px;
}
.google{
    width: 40px;
}
.linkedin{
    width: 40px;
}

.liens{
    margin-top: 40px;
    text-align: center;
}

.liens li{
    margin-bottom: 25px;
    list-style: none;
    display: inline-block;
    margin-left: 15px;
}

.liens li a {
    text-decoration: none;
    text-transform: none;
    color: white;
}

.liens li a:hover{
    border-bottom: 1px solid #97a5aa;
    color:#97a5aa;
    transition: all 0.3s ease 0s;
}

#coyright{
    color: white;
    text-align: center;
    margin-top: 10px;
}

/*------------------buttons------------------------*/

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.bouttons{
    background-color: #fff;
    text-align: center;
    margin-bottom: 20%;
    margin-top: 10%;
}

.boutton{
    width: 10%;
    height: 100px;
    background-color: #3a738f;
    border-radius: 20%;
    border: none;
    padding-left: 2%;
    padding-right: 2%;
}









