*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    list-style: none;
}

.wrapper{
    margin:0 auto;
    padding: 0 10px;
}

.clear{
    clear: both;
}



/*milieu*/
.intro{
    height: 180px;
    background-image: url("../../images/planes/rafale2.jpg");
    background-size: cover;
	background-position: center;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
}

.citation{
    background-color: #D4D8D9;
    height: 100px;
    color: #565757;
    display: flex;
    align-content: stretch;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/*milieu*/
.nosservices{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 70%;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.nosservices h4 {
    color: #565757;
    margin-top: 5%;
}

.nosservices h6{
    color: #3A738F;
}

.nosservices p{
    color: #565757;
}

.services{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 7%;
    
    width: 100%;
   
}

.ligneune{
   display: flex;
   align-content: stretch;
   width: 100%;
   justify-content: space-between;
   flex: wrap;
   height: 30%;
   
}

.sonlumiere{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    justify-content: space-between;
    /*width: 65%;*/
    
    min-width: 60%;
    
}
/*image avec un v */
.verifier{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.service:hover > .verifier{

    animation: animation 1s;
   
    
}

@keyframes animation{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}

