<header>
	<div class="wrapper">
		<nav>
			<input id="nav-toggle" type="checkbox" />
			<a href="../"><img class="logo" src="../images/logo/sensair.png" alt="" /></a>
			<ul class="links">
				<li><a href="../">Home</a></li>
				<li><a href="services.html">Services</a></li>
				<li><a href="quiSommesNous.html">About Us</a></li>
				<li><a href="contactezNous.html">Contact Us</a></li>
				<li><a href="#">FAQ</a></li>
				<li>
					<a href="#">
						<img class="bi bi-globe" src="../images/icons/language.svg" style="width: 25px" />
					</a>
				</li>
				<li>
					<a href="#"
						><img class="bi bi-globe" src="../images/icons/account.svg" style="width: 25px"
					/></a>
				</li>
			</ul>
			<label for="nav-toggle" class="icon-burger">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
			</label>
		</nav>
	</div>
</header>