* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.hautPage {
	display: flex;
	align-items: center;
	background-color: #5ea2c4;
	margin-top: 50px;
	margin-top: 50px;
	padding-top: 2%;
	padding-bottom: 2%;
}

.titrePage {
	font-size: 50px;
	margin-left: 5%;
	color: white;
}

.imgRecherche {
	margin-left: 2%;
	height: 90px;
}

.recherche {
	margin: 10% 12%;
	top: 35%;
	left: 12.5%;
	text-align: center;
	border-color: transparent;
	border-width: 1px;
	border-style: solid;
	width: 75%;
	background-color: #d3d3d3;
}

.indication {
	padding-top: 4%;
	padding-bottom: 4%;
	color: white;
	font-size: 40px;
}

.nomPrenom {
	margin-left: 10%;
	margin-right: 2%;
	margin-bottom: 2%;
	width: 15%;
	padding-left: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right: 2%;
}

.ou {
	color: white;
	font-size: 20px;
	margin-right: 2%;
	margin-bottom: 2%;
}
.numPatient {
	margin-right: 2%;
	margin-bottom: 2%;
	width: 15%;
	padding-left: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right: 2%;
}

.localisation {
	margin-bottom: 2%;
	margin-right: 0.25%;
}
.adresse {
	margin-right: 2%;
	margin-bottom: 2%;
	width: 15%;
	padding-left: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right: 2%;
}

.valider {
	background: #3a738f;
	color: white;
	border-style: none;
	height: 30px;
	width: 10%;
	border-radius: 20px;
	font-size: 15px;
	margin-bottom: 2%;
}

.aRemplir {
	display: flex;
	align-items: center;
}
