* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	list-style: none;
}

.contenu {
	height: 500px;
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}



.contenu1 {
	/* flex-wrap: wrap; */
	width: 80%;
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	margin-bottom: 10px;
}

.bienvenue h1 {
	margin-bottom: 25px;
}
.bienvenue p {
	font-size: 20px;
}
h1 {
	font-size: 2.5rem;
	color: #565757;
	font-weight: bold;
}

.deconnexion {
	background-color: rgb(94, 162, 196);
	border-radius: 5px;
	width: 150px;
	height: 50px;
	cursor: pointer;
	outline: none;
	border: none;
	color: white;
}

.deconnexion:hover {
	border: solid #565757;
}

.photoProfil {
	width: 150px;
	height: auto;
}

.contenu2 {
	width: 65%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.case {
	cursor: pointer;
	width: 150px;
	height: 120px;
	background-color: rgb(94, 162, 196);
	outline: none;
	border: none;
	border-radius: 15px;
	color: white;
	margin-bottom: 40px;
}

.case:hover {
	border: solid #565757;
}

.image {
	width: 50px;
	height: 50px;
	margin-bottom: 5px;
}


@media screen and (max-width: 768px) {
	.contenu {
		height: 800px;
	}

	.contenu1{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.photo{
		margin-top: 20px;
	}

	
}

@media all and (max-device-width: 480px) {
	.contenu {
		height: 800px;
	}

	.contenu1{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-top: 300px;
	}

	.photo{
		margin-top: 20px;
	}

	.contenu2 {
		width: 100px;
		margin-top: 30px;
	}

	.case{
		width: 500px;
		margin-top: 30px;
	}
}
