.title {
	color: white;
	background-color: #5ea2c4;
	margin-bottom: 70px;
	padding: 30px;
	padding-top: 50px;
	font-size: 25%;
	display: flex-inline;
}

.imgProfil {
	height: 70px;
	width: 70px;
}

.linedisplay {
	display: flex;
	list-style: none;
	padding-bottom: 5%;
	color: #5ea2c4;
	font-weight: bold;
}
.principal {
	margin-left: 32%;
	margin-right: 20%;
}

.espacement {
	padding-left: 50px;
}

.champ {
	width: 300px;
	height: 70%;
	border-radius: 20px;
	border-color: #5ea2c4;
	padding-left: 7px;
}
.separation {
	text-align: center;
	color: #5ea2c4;
	margin-top: 7%;
	margin-bottom: 7%;
}

.validate {
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}
.styleValidate {
	background-color: #5ea2c4;
	border-radius: 5px;
	border-color: #5ea2c4;
	width: 20%;
	font-weight: bold;
}
.textSize {
	font-size: 1000%;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
}
