.banniere {
	background-color: #5ea2c4;
	margin-top: 50px;
	width: 100%;
	height: 150px;
	top: 50px;
	display: flex;
	justify-content: center;
	z-index: 2;
}
.content {
	margin-top: 40px;
	text-align: center;
}

.banniere h2 {
	color: white;
	font-size: 40px;
}

.imgProfil {
	margin-left: 20px;
	margin-top: 40px;
	width: 110%;
}

.linedisplay {
	display: flex;
	list-style: none;
	padding-bottom: 5%;
	color: #5ea2c4;
}
.principal {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	margin-top: 30px;
	height: 100%;
	background: white;
	border-radius: 4px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	padding: 20px;
	margin-bottom: 40px;
}

.espacement {
	padding-left: 50px;
}

label {
	color: #5ea2c4;
	font-weight: bold;
	font-size: large;
}

.champ {
	width: 300px;
	height: 40px;
	border-radius: 4px;
	border: 1px solid gray;
	margin: 10px 0 18px 0;
	padding-left: 5px;
}

@media screen and (max-width:790px){
	.principal{
		width: auto;
		margin: 30px 20px;
		margin-bottom: 370px;
	}
	form{
		text-align: center;
	}
	.linedisplay{
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
	}
	.espacement{
		padding-left: 0%;
	}
	
}
.actions{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modify button{
    padding: 9px;
    border-radius: 7px;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    color: rgb(224, 153, 46);;
    border: 2px solid rgb(224, 153, 46);
	background-color: white; 
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	font-size: 20px;
}
.modify button:hover{
	color: white;
	background-color: rgb(224, 153, 46);
}
.retour a{
    margin-left: 18%;
    padding: 10px;
    text-align: center;
    border-radius: 7px;
    border: 2px solid #5ea2c4;
    color: #5ea2c4;
    text-transform: uppercase;
}
.retour a:hover{
	color: white;
	background-color: #5ea2c4;
}
@media all and (max-device-width:480px){
	.banniere{
		margin-top: 70px;
	}
	.content h2 {
		font-size: 50px;
	}
	.imgProfil{
		width: 130%;
	}
}