

.textImage {
	display: block;
}

.numero {
	background-color: #5ea2c4;
	margin-bottom: 0%;
}
.bienvenue {
	color: #3a738f;
	font-size: xx-large;
	font-weight: bold;
	margin-top: 5%;
	margin-left: 5%;
}

.textBienvenue {
	color: black;
	margin-right: 50%;
	margin-left: 5%;
}

.ecriture {
	position: relative;
	float: left;
}

.dateImage {
	overflow: auto;
	padding-right: 15%;
	margin-left: 60%;
	background-image: url("../images/icons/user.png");
}

.listBouttons {
	display: inline;
	text-align: center;
	margin-left: 20%;
	margin-right: 50%;
}

.action {
	background-color: #3a738f;
	width: 15%;
	height: 150px;
	color: white;
	text-decoration: none;
	border-radius: 15%;
	margin-top: 10%;
	margin-bottom: 10%;
}

.divider {
	width: 50px;
	height: auto;
	display: inline-block;
	background-color: white;
}

button a {
	color: white;
}
