/* --------------------------BANNIERE -------------------------------*/
.banniere{
    background-color: #5ea2c4;
    margin-top: 50px;
    width: 100%;
    height: 150px;
    top: 50px;
    display:flex;
    justify-content: center;
    z-index: 2;
    
}
.content{
    margin-top: 40px;
    text-align: center;
}

.banniere h2{
    color: white;
    font-size: 40px;
    
}

.image{
    margin-left: 20px;
    margin-top: 40px;
}

.contenu{
    width: 600px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.contenu form{
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0,0,0,.3);
    padding: 20px;
    margin-bottom: 40px;
}


.help-inline{
    color: red;
}

.contenu form input, .contenu form textarea{
    width: 100%;
}
.champ{
    width:300px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid gray;
    margin: 10px 0 18px 0;
    padding-left: 5px;
}

#reponse{
     height: 300px;
     padding-top: 2px;
     font-size: 20px;
}
.espacement{
    padding-left: 50px;

}

label{
    color: #5ea2c4;
    font-weight: bold;
    font-size: large;
    font-size: 25px;
}
input[type="text"]{
    height: 25px;
    font-size: 20px;
} 
@media screen and (max-width: 755px){
    .contenu {
        width: 400px;
        display: flex;
    }
}

@media all and (max-device-width: 480px){
    .contenu {
        width: 400px;
        display: flex;
    }
    .banniere{
        margin-top: 70px;
    }
    .banniere h2{
        font-size: 40px;
    }
    label{
        font-size: 30px;
    }
    .contenu{
        width: 700px;
    }
    input[type="text"]{
        margin-bottom: 20px;
        font-size: 30px;
    } 
}
.actions{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modify button{
    padding: 9px;
    border-radius: 7px;
    border: none;
    text-transform: uppercase;
    color: white;
    background-color: rgb(224, 153, 46);
    font-size: 20px;
}

.retour a{
    margin-left: 18%;
    padding: 10px;
    text-align: center;
    border-radius: 7px;
    background: #5ea2c4;
    color: white;
    text-transform: uppercase;
}
