
*{
    margin:0;
    padding:0;
	font-family: Arial, Helvetica, sans-serif;
}


.titrePage {
    padding-top: 2%;
    padding-left: 10%;
    margin-top: 0%;
    border-top: 0%;  
    font-size: 50px;
	margin-left: 0%;
	color: white;
    
}
.imgCalendrier{
	margin-left: 2%;
	height: 90px;
}

.hautPage{
	display: flex;
	align-items: center;
	background-color: #5EA2C4;
	padding-top: 2%;
	padding-bottom: 2%;
}


.recherche{
	position: absolute;
	top: 31%;
	left: 7.5%;
	text-align: center;
	border-color: transparent;
	border-width: 1px;
	border-style: solid;
	width: 85%;
	background-color:#D3D3D3;
}


input{
	padding:1.5%;
	margin-bottom: 2%;
	margin-right: 3%;
}

.test{
    margin: 1%;
}

button{
	background: #3A738f;
    color: white;
    border-style: none;
    height: 30px;
    width: 10%;
    border-radius: 20px;
    font-size:  15px;
	margin-bottom: 2%;
    margin-right: 3%;
}

.indication{
	padding-top: 4%;
	padding-bottom: 2%;
	color: white;
	font-size: 30px;
}

footer{
    position: absolute;
    top:85%;
}





















footer{
	position: absolute;
	bottom: 0;
}