.titrePage {
	padding-top: 2%;
	padding-left: 10%;
	margin-top: 0%;
	border-top: 0%;
	font-size: 50px;
	margin-left: 0%;
	color: white;
}
.imgCalendrier {
	margin-left: 2%;
	height: 90px;
}

.hautPage {
	background-color: #5ea2c4;
	width: 100%;
	height: 150px;
	top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.recherche {
	position: absolute;
	top: 31%;
	left: 7.5%;
	text-align: center;
	border-color: transparent;
	border-width: 1px;
	border-style: solid;
	width: 85%;
	background-color: #d3d3d3;
}

input {
	padding: 1.5%;
	margin-bottom: 2%;
	margin-right: 3%;
}

.Test {
	margin: 1%;
}

.envoie {
	background: #3a738f;
	color: white;
	border-style: none;
	height: 30px;
	width: 150px;
	border-radius: 20px;
	font-size: 15px;
	margin-bottom: 2%;
	margin-right: 3%;
}

.indication {
	padding-top: 4%;
	padding-bottom: 2%;
	color: white;
	font-size: 30px;
}

.contenu{
	margin-bottom: 800px;
}
@media all and (max-device-width:480px){
	.hautPage{
		margin-top: 20px;
	}
}