* {
	padding: 0;
	margin: 0;
}

.hautdePage {
	margin-top: 50px;
	background-color: #5ea2c4;
	font-size: 40px;
	color: white;
	align-items: center;
	padding: 2%;
	padding-left: 5%;
}

.patient {
	margin-left: 2%;
}

.vueEvenement {
	margin-left: 8%;
	line-height: 30px;
	font-size: 20px;
	list-style-type: square;
}
