*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    list-style: none;
}

.contenu{
	height: 500px;
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
	

}


.contenu1{
	
	width: 80%;
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}

.bienvenue h1{
	margin-bottom: 25px;
}
.bienvenue p{
	font-size: 20px;
}
h1 {
	font-size: 2.5rem;
	color: #565757;
	font-weight: bold;
}
.photoProfil{
	width: 150px;
	height: auto;
}

.contenu2{
	width: 65%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.case{
	cursor: pointer;
	width: 150px;
	height: 120px;
	background-color: rgb(94,162,196);
	outline: none;
	border: none;
	border-radius: 15px;
	color: white;
	margin-bottom: 40px;
	
	
}

.case:hover{
	border: solid #565757;
}



.image{
	width: 50px;
	height: 50px;
	margin-bottom: 5px;
}