.bande {
	background-color: #3a738f;
}

.image {
	height: 20%;
	width: 20%;
}

.list a {
	margin-top: 100px;
	color: white;
}

.list {
	margin-top: 12px;
}

.coordonnees {
	text-align: center;
	color: white;
}

.bandebas {
	background-color: #5ea2c4;
	margin-bottom: 0%;
	display: block;
	height: 170px;
}

.mail {
	text-align: center;
	color: white;
}

h1 {
	font-size: 2.5rem;
}
.intro {
	margin-top: 2.5%;
	height: 180px;
	background-image: url("../images/planes/rafale2.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 5%;
}

.citation {
	background-color: #d4d8d9;
	height: 100px;
	color: #565757;
	display: flex;
	align-content: stretch;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

/*milieu*/
.nosservices {
	display: flex;
	flex-direction: column;
	height: 70%;
	width: 70%;
	align-items: center;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.nosservices h2 {
	color: #565757;
	margin-top: 5%;
}

.nosservices h4 {
	color: #3a738f;
	margin-bottom: 5%;
}

.nosservices p {
	color: #565757;
}

.services {
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
	margin-block: 7%;
	width: 100%;
}

.ligneune {
	display: flex;
	align-content: stretch;
	width: 100%;
	justify-content: space-between;
	flex: wrap;
	height: 30%;
}

.sonlumiere {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7%;
	justify-content: space-between;
	/*width: 65%;*/

	min-width: 60%;
}
/*image avec un v */
.verifier {
	width: 40px;
	height: 40px;
	margin-bottom: 10px;
}

.service:hover > .verifier {
	animation: animation 1s;
}

@keyframes animation {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0px);
	}
}

#pageactuelle {
	text-shadow: #fc0 1px 0 2px;
}
