/*milieu*/
/*image avion*/
h1 {
	font-size: 2.5rem;
}
.intro {
	height: 180px;
	background-image: url("../images/planes/rafale2.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 5%;
}

/*citation*/
.citation {
	background-color: #d4d8d9;
	height: 100px;
	color: #565757;
	display: flex;
	align-content: stretch;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	text-align: center;
}

/*services*/
.nosservices {
	display: flex;
	flex-direction: column;
	width: 60%;
	/* width: 800px; */
	align-items: center;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 20px;

}



.nosservices h2 {
	color: #565757;
	font-size: 1.5rem;
	font-weight: 500;
	margin-top: 5%;
}

.nosservices h4 {
	color: #3a738f;
	margin-bottom: 5%;
}

.nosservices p {
	color: #565757;
}

.services {
	display: flex;
	margin-top: 7%;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
	margin-block: 7%;
	width: 100%;
	margin-bottom: 7%;
}

.ligneune {
	display: flex;
	align-content: stretch;
	width: 100%;
	justify-content: space-between;
	flex: wrap;
	height: 30%;
}

.sonlumiere {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7%;
	justify-content: space-between;
	/*width: 65%;*/
	width: 600px;

}



/*image avec un v */
.verifier {
	width: 40px;
	height: 40px;
	margin-bottom: 10px;
}

.service:hover > .verifier {
	animation: animation 1s;
}

.service {
	text-align: center;
}

@keyframes animation {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0px);
	}
}

@media screen and (max-width:754px) {
	.nosservices{
		width: 400px;
	}

	.ligneune{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 500px;
	}

	.sonlumiere{
		display: flex;
		flex-direction: column;
		height: 450px;
		justify-content: space-around;
		padding-bottom: 30%;
	}
}

@media all and (max-device-width:480px){
	.nosservices{
		width: 400px;
	}

	.ligneune{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 500px;
	}

	.sonlumiere{
		display: flex;
		flex-direction: column;
		height: 450px;
		justify-content: space-around;
		padding-bottom: 30%;
	}
}